@import "tailwindcss";

@layer utilities {
	@keyframes move-down {
	  from {
		transform: translateY(-50px);
		opacity: 0;
	  }
	  to {
		transform: translateY(0);
		opacity: 100;
	  }
	}
	.animate-move-down {
	  animation: move-down .25s ease-in-out;
	}
  }

  